<h2>Reactive: Básicos</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off"
            (ngSubmit)="save()"
            [formGroup]="myForm">
            <!-- Campo Producto -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input type="text" 
                        class="form-control"
                        formControlName="name"
                        placeholder="Nombre del Producto">
                    <span class="form-text text-danger"
                        *ngIf="showError('name')">
                        Debe ser de 3 letras
                    </span>
                </div>
            </div>
            <!-- Campo Precio -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number" 
                        class="form-control"
                        formControlName="price"
                        placeholder="Precio del Producto">
                    <span class="form-text text-danger"
                        *ngIf="showError('price')">
                        Debe ser igual o mayor que 0
                    </span>
                </div>
            </div>
            <!-- Campo Existencias -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="number" 
                        class="form-control"
                        formControlName="stock"
                        placeholder="Existencias del Producto">
                    <span class="form-text text-danger"
                        *ngIf="showError('stock')">
                        Debe ser igual o mayor que 0
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" 
                        class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ myForm.valid }}</pre>

        <span>Pristine</span>
        <pre>{{ myForm.pristine }}</pre>

        <span>Touched</span>
        <pre>{{ myForm.touched }}</pre>

        <span>Value</span>
        <pre>{{ myForm.value | json }}</pre>
    </div>
</div>

